<h1><%= locals.trip.name %></h1>

<div>
    <h2>Trip Users</h2>
    <% if(locals.trip.users){ %>
        <% for(user of trip.users){ %>
            <div>
                <p><%= user.name %></p>
                <p><%= user.money %></p>
                <form action="/trip/enter-data" method="POST">
                    <input type="hidden" name="id" value="<%= trip._id %>">
                    <input type="hidden" name="name" value="<%= user.name %>">
                    <input type="number" name="money" required placeholder="Money">
                    <input type="submit" value="Submit">
                </form>
            </div>
        <% } %>
    <% } %>
</div>

<div>
    <h2>Trip User Create</h2>
    <form action="/trip/create-user" method="POST">
        <input type="hidden" name="id" value="<%= locals.trip._id %>">
        <input type="text" name="name" required placeholder="Name of user">
        <input type="submit" name="Create">
    </form>
</div>

<p><a href="/trip/calculate/?id=<%= locals.trip._id %>">Calculate</a></p>